.finance_tips-page h2 {
  text-align: start;
  color: #226765;
  font-family: "Dancing Script", cursive;
  font-size: 70px;
  font-weight: bold;
  margin-right: 30px;
}


.card {
  color: #226765;
  background: #F8F1F1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: auto;
  width: 80%;
  padding: 30px;
  font-size: 16px;
  margin-top: 40px;
  text-align: justify;
  height: max-content;
}

.container-container3 {
  display: flex; /* Enables flexbox layout */
  // align-items: flex-start; /* Aligns items to the top */
  gap: 10px; /* Optional: Adds space between the items */
  padding: 20px; /* Optional: Adds padding inside the container */
  border: 1px solid #000; /* Optional: adds a border to visualize the container */
}

.title {
  margin: 0;
}

.description {
  margin: 0;
}
