// Specific CSS for your home-page

.profile-pic {
  display: flex;
  justify-content: center;
}


img {
  border-radius: 50%;
  margin: 20px;
  height: 350px;
  width: 275px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #226765;
    background-color: #F8F1F1;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
  }
