.card-container2 {
  color: #226765;
  background: #F8F1F1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: auto;
  width: 80%;
  padding: 30px;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  height: max-content;
}
.travel-grid-container {
  margin: 30px;
}

.travel-grid-container {
  display: grid;
  justify-content: start;
  grid-template-columns: 350px 350px 350px;
  gap: 10px;
}

.travel-grid-item {
  background-color: #F8F1F1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  align-items: center;
  text-align: center;
  height: 320px;
  width: 300px;
  margin: 5px;
  margin-bottom: 10px;
}

h3 {
  color: #226765;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
  font-weight: bold;
}

.travel-page img {
  height: 70%;
  width: 85%;
}

.travel-grid-container2024, .travel-grid-container2023, .travel-grid-container2022, .travel-grid-container2021 {
  display: grid;
  justify-content: start;
  grid-template-columns: 350px 350px 350px 350px;
  gap: 10px;
  margin-left: 30px;
}
