<h1>Hi, I'm Grace 💫</h1>


<div class="profile-pic">
<%= image_tag "GT.png", alt: "Profile Pic", width: 200 %>
</div>

<div class="card-product">
  <div class="card-product-infos">
    <p>I have put together a few pages to help you get to know me both personally and professionally.</p>
  </div>
</div>

<%= link_to "Contact Me", contact_path  %>
