<h1>Hi, I'm Grace 💫</h1>

  <div class="profile-pic">
    <%= image_tag "GT.png", alt: "Profile Pic", class: "home-img" %>
  </div>

  <div class="intro">
    <p>These pages have been put together to help you get to know me both personally and professionally.</p>
  </div>

  <%# <%= link_to "Contact Me", contact_path  %>
