<h1>Podcast Reccomendations 🎧</h1>

    <div class="card-container2">
      <p>As I very briefly mentioned on the 'about' page, I am from a small city in the North East of the UK, Newcastle Upon Tyne.
      Until I started to work in the <b>Investment Management</b> industry at the age of 24, I had no clue about finance and how to make money work for you.
      I'd always known how to work hard and earn money, but I can honestly say that the only financial education I had was <b>"try not to get into credit card debt."</b>
      I also turned 16 in 2007, which was the year of the <b>Great Financial Crisis</b>, the North East of England was hit hard and finding my first part-time job while I studied for my A-Levels felt impossible
      (I did get a job eventually). But for me I think it really meant the start of my financial freedom was tainted by <b>scarcity mentality</b>.

      Here are the <b>top five</b> things I wish I'd learned and acted on sooner withr regards to <b>personal finance.</b></p>
    </div>

    <div class="card-container2">
      <%= image_tag "1.jpg", alt: "1"%>
      <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
    </div>

<div class="card-container2">
      <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
    </div>

    <div class="card-container2">
      <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
    </div>

    <div class="card-container2">
      <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
    </div>

    <div class="card-container2">
      <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
    </div>
