<h1>Travel✈️</h1>


<div class="card-container">
  <p>I am so lucky and have been able to travel to lots of amazing places. It's one of the things that brings me most joy and I always try to get into the local culture. I always learn so much and feel enriched to experience new places and things, it always offers new perspective🔎.
  I've put together some tips based on where I have been so far, hope you enjoy!</p>
</div>

<h1>2024</h1>

<div class="gallery">
  <a target="_blank" href="Palermo.jpg">
    <%= image_tag "Palermo.jpg", alt: "Rails" %>
  </a>
  <div class="desc">Palermo</div>
</div>

<%# <div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="img_forest.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div> %>


<h1>2023</h1>
