<div class="yoga_tips-page">

  <h1>Yoga 🕊️</h1>

      <div class="card-container2">
        <p>As I very briefly mentioned on the 'about' page, I am from a small city in the North East of the UK, Newcastle Upon Tyne.
        Until I started to work in the <b>Investment Management</b> industry at the age of 24, I had no clue about finance and how to make money work for you.
        I'd always known how to work hard and earn money, but I can honestly say that the only financial education I had was <b>"try not to get into credit card debt."</b>
        I also turned 16 in 2007, which was the year of the <b>Great Financial Crisis</b>, the North East of England was hit hard and finding my first part-time job while I studied for my A-Levels felt impossible
        (I did get a job eventually). But for me I think it really meant the start of my financial freedom was tainted by <b>scarcity mentality</b>.

        Here are the <b>top five</b> things I wish I'd learned and acted on sooner withr regards to <b>personal finance.</b></p>
      </div>

    <div class="card">
      <div class="card-container3">
        <h2 class="title">1.</h2>
        <p class="description">
          <b>You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</b><br><br>
          This is kind of embarrassing but when I started working at an Investment Management firm, I saw that the minimum investment in their funds ranged from £10,000-£100,000.
          So I used to try and work out how long it would take me to be able to save enough to invest. I had no idea there were platforms (a quick google of investment platforms for the country you are in will give a good starting point to your options).<br><br>
          By using a platform or there are even loads of apps you can do this through now where I believe you can invest as little as £20. Saying that there are trading costs involved with these things which means every time you put money in or take money out, generally the platform will take a fee ontop of the management fee you pay.<br><br>
          So my advice here is to start a cash savings account alongside your general bank account and transfer money over into your savings account until you build up to a larger amount. Trading every time you have a spare £20 can get really costly and will affect your long term returns. <br><br>
          No judgement if you ever have done or are doing this by the way, I have done this myself and that's why I raise it.
          I still have the trade in my portfolio where I put a stupidly low amount into a fund. The investment has done well, but would have done so much better if I had waited and invested a larger amount of money.<br><br>
          By larger amount of money, I am taking into account how hard it is to save at the moment and so what I mean by this is build up as many £10 or £20's as you can and start thinking about investing when you get above the £200 mark.<br><br>
          If you can get larger amounts together that's great. The larger the better. I'm just trying to be realistic and taking into account those with lower incomes - I know I have been there!
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-container3">
        <h2 class="title">2.</h2>
        <p class="description">
        <b>Lifestyle creep is something you really need to keep an eye on.</b><br><br>
        There is a great book by Morgan Housel called <b>The Psychology of Money</b> which I highly recommend. I'll also include it on the Reading page. In the book Housel simplifies lots of different things to do with finance but a great point he makes is <b>“The hardest financial skill is getting the goalpost to stop moving, but it's one of the most important.”</b>
        What Housel is getting at here is the fact that as we start to earn more, we start to spend more and pay less attention to where our money is going. Now trust me, I know what it's like to be broke and having a bit less pressure on where the next meal is coming from is great so I am by no means encouraging anyone to assess every £ that leaves their bank account. We need to enjoy life and especially if you have grafted hard to get to a point where you can be a bit more relaxed with money.<br><br>
        What I would encourage though, is a bit of time where you enjoy yourself but then once you are up and on your feet, <b>start to pay attention to where your money is going</b>. Housel also talks in the book about most of the things that bring him and his wife a lot of joy are very cheap - books, podcasts, walking and I could not agree more.<br><br>
        It's important to remember that we do live in a world where we are constantly being sold to. Companies need you to buy their products to  stay in business so I wouldn't blame anyone for thinking they need to go Reformer Pilates to reach their fitness potential but the good news is it's simply not true. For years now a good podcast and a walk have served me so well. Don't get me wrong I LOVE Reformer Pilates but at £25-30 a class it would really start to stack up if it was the only for of excercise I did.
        The bigger point here is <b>it would be so easy to believe that the grander things in life bring us happiness, but my bet is that if you did an honest audit with yourself about what brings you a bit of joy everyday, it would probably be quite simple things.</b> <br><br>
        A great example I like to use is <b>coffee</b>. Say for example you go into the office four days a week and buy yourself a coffee on the way in, in Central London you're looking at around £3.50 upwards for a coffee.
        Multiply that £3.50 by four and then multiply that by 48 for weeks in the year (taking into account around 4 weeks holiday a year) and <b>you have spent £56 a month and £672 in the year on one weekday coffee alone.</b> <br><br>
        Now I get it some people love their coffee and it's the ritual of getting it on the way into work after a busy train journey or whatever. But if you are just getting a Pret, Starbucks or other high street brand coffee I'd really encourage you to ask yourself, is that much better than doing your own french press at work? Could that not be a ritual that could save you hundreds of pounds a year?
        <b>And then on top of that it could be money that you use to invest and starts to work for you?</b><br><br>

        Now I really want to emphasise we don't have to be penny pinching left and right, but you can see that if you add on travel and lunch from a Deli everyday your basic living costs could get quite high quite quickly and so my point here is to try not to get sucked up into earning more money means spending more money because then <b>are you even any wealthier than you were before anyway?</b>

        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-container3">
        <h2 class="title">3.</h2>
        <p class="description">
        <b>Start your own daily or weekly accountability journal for your finances. </b><br><br>
        I've purposely put this point directly after the above as I think they link quite nicely.
        It's still very much about keeping an eye on your finances but for me, adding in a daily practice where I check myself <b>revolutionised</b> how I spend money.
        I'm a <b>big believer</b> in what can be <b>measured can be managed.</b><br><br>
        For me, it all started when I noticed a friend of mine writing in her journal and she told me <b>she writes down everything she spends</b> which I had just never thought of doing.
        She's huge on journalling and she moved through life was with a kind of intention that I admired so I thought let's <b>give it a go.</b><br><br>
        Now I know there are loads of cool apps and systems that do these things for you these days and I think they are great. But my friend used a pen and paper and I have been using an excel spreadsheet for years now.
        (It's the finance girlie in me, I'll always love a spreadsheet😅).<br><br>
        I worked in financial operations for a while and we used to do daily cash reconciliations to check the funds we were running weren't going overdrawn and charges were correct.
        So I used a similar model to build my own excel spreadsheet and created my own colour coding system for different categories and as the years have gone on I have upgraded with budgeting tables and a few other features.<br><br>
        I know some people would class me as a Flinstone for not just doing this through a banking or budgeting app and usually I would deligate these kind of tasks to a tech solution.
        However for me there is something <b>so powerful</b> about having those few minutes everyday where I record what I have spent, allocate it to it's category and think about any costs coming my way.
        It means I am way less likely to spend money on things I don't need and it's meant I have been so much more intentional about how I have spent money for the past few years.
        I genuinely believe it has <b>transformed</b> my spending habits and <b>I've saved a lot of money because of it.</b><br><br>
        In the past I was the kind of person who would <b>avoid looking at my bank balance</b> if I knew I'd done some damage 🙈 which is the equivalent of burying your head in the sand or covering your ears and singing 'lalala' while someone tells you something important.
        It can feel very confronting having to own up to where you might have been reckless with your money but this is where taking accountability for your actions kicks in, it's <b>so important</b>.
        Once I started doing the daily reconciliation I could start to analyse how to get my overheads as low as possible and it has the added bonus of checking your accounts daily which we should be doing anyway just incase you have been the victim of financial crime.<br><br>
        This actually happenned to me twice this year on seperate bank cards there were charges I did not recognise and so was able to get in touch with my bank and cancel the cards before the damage got too bad. It felt awful being hacked but it also felt <b>so rewarding</b> to be able to get ontop of the problem so quickly💪🏻.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-container3">
        <h2 class="title">4.</h2>
        <p class="description">
        <b>If your employer offers you a match on any contributions or sacrifice you make for your pension, take as much of it as you can. It's the equivalent of a 100% return on your investment straight away.</b><br><br>
        This is quite a straight forward one. In most jobs there will be specific points where you sit down with your manager, review your pay and perhaps talk about <b>bonuses and pension contributions.</b>
        In these conversations, it's highly possible that your employer might say that if you were to sacrifice some of your annual bonus to your pension, they will match the amount. <b>Think of it as a way of incentivising us to contribute more to our pensions so that we don't end up old, broke and relying on the state.</b><br><br>
        This essentially means that say for example you got a £1,000 bonus and decided to put it all into your pension, your employer would also put £1,000 into your pension. So immediately that money has doubled before you've entered the stock market📈.<br><br>
        Now I know in your 20s and even 30s your pension seems a million miles away and the <b>cash is so much more appealling</b>.
        It may even be that your saving for a mortgage which in your head is also an investment. But what we tend to do as humans is think we'll add more money later and it'll all be good.
        However if we <b>invest money sooner, that money has a longer time horizon to grow</b> in the market. If we invest sooner (ie in our 20s) then we will actually need to <b>invest less as the years go on</b> as our money has had more time to <b>grow and compound.</b><br><br>
        I know it is <b>so hard</b> to quite literally <b>sacrifice</b> that money in the moment. But I would recommend consulting your spreadsheet, seeing how much money you can realistically afford to sacrifice while still leaving room to enjoy life, then <b>taking your employer up on the match</b> for the most you can stomach at the time.
        </p>
      </div>
    </div>

     <div class="card">
      <div class="card-container3">
        <h2 class="title">5.</h2>
        <p class="description">
        <b>The 3-6 months emergency fund really is a good idea.</b><br><br>
        Sometimes I think this one gets <b>a little bit confused</b> for <b>six months worth of salary</b> instead of <b>six months worth of living.</b>
        If you are following the guidelines above, hopefully you are not spending all of your income every month as you have measures in place to <b>keep your overheads low</b> and <b>encourage you to save.</b><br><br>
        If this is the case, <b>six months salary and six months living costs could be quite different.</b> This is another way in which your <b>accountability spreadsheet</b> or journal could be really useful.
        You should have a list of all your living costs every month.
        For example I have all of my direct debits for mortgage, bills, yoga membership etc and I know exactly how much they cost every month. I then have a good idea on what I need to spend on food, toiletries, travel etc and then I look at my calendar and see how much I'll need for socialising and enjoying life.
        <b>I add all these numbers up and that's my monthly living cost.</b><br><br>
        For me what I have found <b>most helpful</b> over the past few years is to have <b>three months living costs in a cash savings account.</b>
        This money is not invested as I like to keep it in cash incase of an emergency and there are no trading costs or repercussions for using it straight away.
        Everything else I put into an <b>Individual Savings Account (ISA)</b> and anything I have left over when I get paid every month after bills have been paid and some money allocated to enjoying life goes into this ISA which is <b>then invested in a few funds I know well and grows steadily over time.</b><br><br>
        The idea behind this rule is that if something <b>financially damaging</b> were to occur, like losing your job or a huge bill you weren't expecting, you have some time to be able to get on top of the problem eg find a new job or find accomodation which costs less.
        I made the decision to leave my full time job this year to study <b>Web Development👩🏻‍💻</b> and it has made the whole process so much <b>less stressful</b> knowing I had savings to keep me going while I study, look for a new job and even perhaps need to take a job where I might be making significantly less money for a while.<br><br>
        By following all of the steps I have mentioned above it means that I'm able to <b>understand</b> and <b>be realistic</b> about how to make my money last and keep costs as low as possible while I need to, knowing that I'll get a job at some point and be able to start rebuilding my savings when I can.<br><br>
        So I'd like to attest that the <b>3-6 months emergency fund</b> is definitely a <b>good idea💡.<b>
        </p>
      </div>
    </div>

</div>

      <div class="card-container2">
        <p>As I very briefly mentioned on the 'about' page, I am from a small city in the North East of the UK, Newcastle Upon Tyne.
        Until I started to work in the <b>Investment Management</b> industry at the age of 24, I had no clue about finance and how to make money work for you.
        I'd always known how to work hard and earn money, but I can honestly say that the only financial education I had was <b>"try not to get into credit card debt."</b>
        I also turned 16 in 2007, which was the year of the <b>Great Financial Crisis</b>, the North East of England was hit hard and finding my first part-time job while I studied for my A-Levels felt impossible
        (I did get a job eventually). But for me I think it really meant the start of my financial freedom was tainted by <b>scarcity mentality</b>.

        Here are the <b>top five</b> things I wish I'd learned and acted on sooner withr regards to <b>personal finance.</b></p>
      </div>

    <div class="card">
      <div class="card-container3">
        <h2>1</h2>
        <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-container3">
        <h2>2</h2>
        <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-container3">
        <h2>3</h2>
        <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-container3">
        <h2>4</h2>
        <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-container3">
        <h2>5</h2>
        <p>💰You don't need much to invest, and you should start, even if it's small amounts, as soon as you can.</p>
      </div>
    </div>

</div>
