.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  background-color: #A3D2CA;
  z-index: 1000; /* Ensure the navbar is above other content */
  display: flex;
  align-items: center;
  justify-content: center;
}


.navbar-items {
  padding: 0px;
  display: flex;
  flex-grow: 1;
}

.navbar-items a:hover {
  background-color: #226765;
}

.navbar-brand {
  margin: 0px;
}

.navbar-brand img {
  height: 80px;
  width: 80px;
  margin: 0px;
}

.navbar a {
  color: #F8F1F1;
  text-decoration: none;
  font-size: large;
  padding: 10px 20px 10px 20px;
}


.navbar-links {
  display: flex;
  margin: 10px;
}

.navbar-links a {
  color: #226765;
  opacity: 0.8;
  font-size: 30px;
  padding: 20px 20px;
}
.navbar-links a:hover {
  opacity: 1;
}
