// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import 'pages/tech_stack';
@import 'pages/home';
@import 'pages/contact';
@import 'pages/travel';

* {
  letter-spacing: 0.5px;
}

.content-wrapper {
  padding-top: 60px; /* Equal to the navbar height */
  height: 100%;
  overflow-y: auto; /* Enable scrolling for the content */
  margin-top: 20px;
}

h1 {
  font-weight: 300;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

body {
  background-color: #A3D2CA;
  color: #F8F1F1;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.card-container {
  color: #226765;
  background: #F8F1F1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: auto;
  width: 80%;
  padding: 30px;
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
  height: max-content;
}

p {
  margin: auto;
}

.last-card {
  text-align: center;
  color: #226765;
  background: #F8F1F1;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: auto;
  width: 80%;
  padding: 30px;
  font-size: 16px;
  margin-top: 20px;
  height: max-content;
}

.page-container {
  width: 100%;
  height: 80%;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scrollable-container {
  height: 85%;
  overflow-y: auto;
  width: 70%;
  padding: 10px;
}

footer {
  padding: 20px;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F8F1F1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #226765;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
